---
// src/pages/404.astro
---
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>P치gina no encontrada</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #f3f3f3;
      font-family: Arial, sans-serif;
    }
    .container {
      text-align: center;
      max-width: 800px;
      padding: 20px;
      margin: auto;
    }
    h1 {
      font-size: 2em;
      margin-bottom: 0.5em;
    }
    p {
      margin-bottom: 1em;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>&#128546; P치gina no encontrada</h1>
    <p>Lo sentimos, la p치gina que est치s buscando no existe.</p>
    <div class="tenor-gif-embed" data-postid="4657344" data-share-method="host" data-aspect-ratio="1.545" data-width="100%">
      <a href="https://tenor.com/view/baboon-laptop-work-busy-screw-work-gif-4657344">Baboon Laptop GIF</a>from <a href="https://tenor.com/search/baboon-gifs">Baboon GIFs</a>
    </div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  </div>
</body>
</html>