---
import fetch from 'node-fetch';

async function iniciarSesion(event:Event) {
  event.preventDefault();

  const tipo= "usuario"
  const matricula = (document.getElementById('matricula') as HTMLInputElement).value;
  const contrasena = (document.getElementById('password') as HTMLInputElement).value;

  try {
    const respuesta = await fetch('http://127.0.0.1:8000/autentificacion', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({tipo, matricula, contrasena }),
    });

    if (!respuesta.ok) {
      throw new Error(`HTTP error! status: ${respuesta.status}`);
    }

    const infoUsuario = await respuesta.json();

    // Haz algo con la información del usuario (por ejemplo, almacenarla en el estado de la aplicación)
    console.log(infoUsuario);
  } catch (error) {
    console.error('Error al iniciar sesión:', error);
  }
}
---
<!-- Este es codigo del login -->
<section>
  <div
    class="flex relative justify-center lg:px-0 items-center lg:py-20 md:px-12 overflow-hidden"
  >
    <!-- aqui va el texto de Inicio de sesion -->

    <div
      class="w-full lg:h-full max-w-md md:max-w-sm md:px-0 md:w-96 mx-auto sm:px-4"
    >
      <h2
        class="text-3xl font-extrabold text-black md:text-4xl lg:text-5xl xl:text-6xl"
      >
        <span class="block">Hola!</span>
        <span class="block">inicia sesion</span>
      </h2>
      <!-- hacer un espacio entre el h2 y el form -->
      <div class="h-8"></div>
      <form onsubmit="iniciarSesion()">
        <div class="space-y-6">
          <div>
            <label>Matricula</label>
            <input
              id="matricula"
              name="matricula"
              class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
              placeholder="Matricula"
            />
          </div><div class="col-span-full">
            <label>Password</label
            >
            <input
              id="password"
              name="password"
              class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
              placeholder="Contraseña"
              type="password"
            />
          </div><div class="flex items-center justify-between">
            <div class="text-sm">
              <a
                class="font-medium hover:text-accent-500 text-accent-500"
                href="/forgotPass">Olvidaste tu contraseña?</a
              >
            </div>
          </div><div class="col-span-full">
            <button
              class="items-center h-12 justify-center rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-6 py-3 text-center text-white w-full"
              type="submit">Iniciar sesion</button
            >
          </div><div>
            <p class="font-medium text-sm leading-tight text-black">
              No estas registrado? <a
                class="text-accent-500 hover:text-accent-400 ml-3"
                href="/signup">Registrate Ahora</a
              >
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
